body{
  background-color: azure;
}
.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  margin: 20px;
  padding: 20px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(188, 8, 8, 0.465);
  text-align: center;
}

.movie-card img {
  width: 100%;
  border-radius: 5px;
}

.filter {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.filter input {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter button {
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.movie-details {
  margin: 20px;
  padding: 20px;
  width: 600px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.movie-details h2 {
  margin-top: 0;
}

.movie-details p {
  margin-bottom: 20px;
}

.movie-trailer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.movie-trailer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
